.fiche-logement {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
  
    .logement-info {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
  
      .title-location-tags {
        flex: 1;
  
        .logement-title {
          font-size: 36px;
          font-weight: 500;
          margin-bottom: 10px;
          color: #ff6060;
        }
  
        .logement-location {
          font-size: 18px;
          margin-bottom: 20px;
          color: #484848;
        }
  
        .tags {
          display: flex;
          gap: 10px;
          
          .tag {
            background-color: #ff6060;
            color: white;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 14px;
          }
        }
      }
  
      .host-rating {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
  
        .host {
          display: flex;
          align-items: center;
  
          .host-name {
            margin-right: 10px;
            font-size: 18px;
            color: #484848;
          }
  
          .host-picture {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
  
        .rating {
          margin-top: 10px;
          
          .star {
            width: 30px;
            height: 30px;
            margin-left: 5px;
          }
        }
      }
    }
  
    .collapse-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
  
      @media (min-width: 768px) {
        flex-direction: row;
  
        > div {
          flex: 1;
        }
      }
    }
  }
  