footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif; /* Application de la police Montserrat */
}

footer img {
  width: 50px;
}
